.nav-link-css {
    color: rgb(15, 21, 23);
    text-decoration: none;
    padding: 0.5rem 1rem;
    
 
  }
  .nav-link-css:hover {
    background-color: #f3eeec;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  } 
  /* .navbar {
    background: linear-gradient(90deg, rgb(61, 68, 70) 0%, rgb(43, 199, 238) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  } */